<!DOCTYPE html>
<html>
  <%- include("./partials/head") %> 
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">Send a message</a>
    <div>
      <% messages.forEach(message => { %>
        <div>
          <h2><%= message.user %></h2>
          <p><%= message.text %></p>
          <p><%= message.added.toLocaleString('en-US') %></p>
        </div>
      <% }) %> 
    </div>
  </body>
</html>
